
  @import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&family=Cairo:wght@600&family=Cormorant+Garamond:wght@600&family=Fira+Sans+Condensed:wght@300&family=Fjalla+One&family=IBM+Plex+Mono:wght@200&family=Josefin+Sans:wght@200&family=Open+Sans:wght@400;700&family=Righteous&family=Roboto+Condensed&family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap");

  .description {
    font-family: sans-serif;
  }

  .options {
    font-size: xx-large;
    font-variant: small-caps;
  }

  .option1 {
    font-family: Antonio;
  }

  .option2 {
    font-family: Roboto;
  }

  .option3 {
    font-family: Roboto Condensed;
  }

  .option5 {
    font-family: Cormorant Garamond;
  }

  .option6 {
    font-family: Titillium Web;
  }

  .option7 {
    font-family: Josefin Sans;
  }

  .option8 {
    font-family: Cairo;
  }

  .option9 {
    font-family: Fira Sans Condensed;
  }

  .option10 {
    font-family: Fjalla One;
  }

  .option11 {
    font-family: IBM Plex Mono;
  }

  .option12 {
    font-family: Righteous;
  }
